<%- include ("templates/cabecera",{
    tituloP:"Data"
}) %>
<body>
    <h1><%= titulo%></h1>
    <%- include ("templates/navprin")%>
    
    <div class="bod">
    <div class="diseño">
        <div>
            <img src="./imagenes/5.jpg" alt="" id="img">
        </div>
        <div>
        <ul class="diseñoG">
            <li><i class="icono fas fa-user-circle"></i>  <b>Nombre:</b> Oswar Naal Canul</li>
            <li><i class="icono fas fa-child"></i> <b>Edad: </b>21 Años</li>
            <li><i class="icono fas fa-briefcase"></i> <b>Estado civil:</b> Soltero(a)</li>
            <li><i class="icono fas fa-calendar"></i>  <b>Fecha de Nacimiento:</b> 25 de Noviembre del 1999</li>
            <li><i class="icono fas fa-asterisk"></i>  <b>Curp:</b> </li>
        </ul>
     </div>

    </div>
    </div>
    <%- include ("templates/footer")%>
</body>