<%- include ("templates/cabecera",{
    tituloP:"Equipment"
}) %>

<body>
    <h1><%= titulo%></h1> 
    <%- include ("templates/navprin")%>
    <div class="bod">
        <div class="diseño">
            <ul class="diseñoG">
                <h2>Oficce</h2>
                <li><i class="icono fas fa-bookmark"></i> Word</li>
                <li><i class="icono fas fa-bookmark"></i> PowerPoint</li>
                <li><i class="icono fas fa-bookmark"></i> Excel</li>

                
            </ul>
            <ul class="diseñoG">
                <h2>Windows</h2>
                <li><i class="icono fas fa-bookmark"></i> Windows 10</li>
            </ul>
    
    
        </div>
        </div>
    <%- include ("templates/footer")%>


</body>
</html>