<%- include ("templates/cabecera",{
    tituloP:"Lenguage"
}) %>

<body>
    <h1><%= titulo%></h1> 
    <%- include ("templates/navprin")%>
    <div class="bod">
        <div class="diseño">
            <ul class="diseñoG">
                <h2>Maya</h2>
                <li><i class="icono fas fa-bookmark"></i> Nivel: básico</li>
            </ul>
            <ul class="diseñoG">
                <h2>Ingles</h2>
                <li><i class="icono fas fa-bookmark"></i> Nivel: básico</li>
            </ul>
    
    
        </div>
        </div>
    <%- include ("templates/footer")%>
</body>
</html>