<%- include ("templates/cabecera",{
    tituloP:"Labor"
}) %>

<body>
    <h1><%= titulo%></h1> 
    <%- include ("templates/navprin")%>
    <div class="bod">
        <div class="dise単o">
            <div class="dise単oG">

            <div class="card" style="width: 18rem;" id="a">
                <img src="./imagenes/0.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Experiencia 2 a単os de trabajo en un ciber</p>
                  <br>
                  <p class="card-text">Experiencia 1 a単o de trabajo de mantenimiento</p>
                </div>
            </div>
        </div>

        </div>
    </div>
    <%- include ("templates/footer")%>
</body>
</html>