<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/datos">Datos personales</a>
        <a href="/estudios">Niveles de estudio</a>
        <a href="/laboral">Exp.laboral</a>
        <a href="/idiomas">Idiomas</a>
        <a href="/equipos">Dom.Equipos</a>
        <a href="/contactanos">Contactanos</a>
    </nav>
</header>